main {
  flex-grow: 1;
}

.container {
  margin-right: auto;
  margin-left: auto;
}

@media (width >= 992px) {
  .container {
    width: 960px;
  }
}

@media (width >= 1200px) {
  .container {
    width: 1140px;
  }
}

@media (width >= 1400px) {
  .container {
    width: 1320px;
  }
}
