@import 'normalize.css';
@import 'primereact/resources/primereact.min.css';
@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex';
@import './assets/theme.css';
@import 'animations';

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  font-family: var(--font-family);
}

a:visited {
  color: inherit;
}
