.wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--highlight-bg);
  border-radius: 6px;
}

.panel {
  display: flex;
  flex-direction: column;
  min-width: 10rem;

  @media screen and (width < 765px) {
    flex-direction: column-reverse;
  }
}

.splitter {
  flex-grow: 1;

  @media screen and (width < 765px) {
    border: 0;

    [class='p-splitter-gutter'] {
      display: none;
    }
  }
}
