@import 'normalize.css';
@import 'primereact/resources/themes/viva-dark/theme.css';
@import 'primereact/resources/primereact.min.css';
@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex';

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}
