.header {
  padding: 0 0.5rem 0.5rem !important;
  border: 0 !important;
}

.tabMenu {
  [class='p-menuitem-link'] {
    padding: 5px !important;
  }
}

.panel {
  [class='p-panel-content'] {
    height: 200px;
    padding: 0;
    border: 0;
  }
}
